scrape_cazy/.DS_Store
maxbin/run_MaxBin.pl
funannotate/funannotate_linux.yaml
funannotate/TEST
funannotate/test_assembly.fas
funannotate/test_assembly_clean.fas
funannotate/test_assembly_masked.fas
funannotate/.zhistory
.zhistory
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
deeploc/deeploc-1.0
deeploc/.DS_Store
